<launch>
    <arg name="omni_name" default="omni" doc="PHANToM Omni name"/>
    <group ns="$(arg omni_name)">
        <param name="robot_description" command="cat $(find omni_description)/urdf/omni.urdf" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
            <param name="tf_prefix " value="$(arg omni_name)"/>
        </node>
        <node name="omni_driver" pkg="omni_common" type="omni" output="screen">
            <param name="tf_prefix " value="$(arg omni_name)"/>
        </node>
    </group>
</launch>

